.TittleAndCounter {
    font-size: 40px;
    text-align: center;
    font-family: IBM Plex Sans Arabic;
}

.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 15px;
    font-weight: normal;
    margin-top: 0.1em;
    text-shadow: 0 0 10px #fff;
    font-size: 1.5rem;
  }
  .TodoCounter span {
    font-weight: bold;
    color: red;
  }
  